.logo {
	width: 100%;
	max-width: 11.875rem;
	min-height: 3.5rem;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: 500;
	color: var(--text-color);
	background-color: #d9d9d9;
	text-transform: uppercase;
}