<section class="pys-7 pye-10 background-image background-backdrop" style="background-image: url(./img/form-bg.webp);">
	<div class="container">
		<h2 class="h1 mye-1">
			Запишитесь <span class="primary-color">на прием</span>
		</h2>
		<p class="sub-header-color fw-700 mye-4">
			Оставьте заявку для записи на прием к нужному врачу. Наш сотрудник свяжется с вами, чтобы обговорить детали.
		</p>

		<form class="form">
			<div class="grid-row grid-gap-8 grid-gap-md-3">
				<div class="grid-col-7 grid-col-md-12">
					<div class="grid-row grid-gap-2">
						<div class="grid-col-12">
							<input type="text" class="field" name="name" placeholder="Ваше имя*" required>
						</div>
						<div class="grid-col-6 grid-col-sm-12">
							<input type="tel" class="field" name="tel" placeholder="Телефон*" required>
						</div>
						<div class="grid-col-6 grid-col-sm-12">
							<input type="email" class="field" name="email" placeholder="Email*" required>
						</div>
						<div class="grid-col-12">
							<textarea name="text" class="field field-textarea" placeholder="Комментарий"></textarea>
						</div>
					</div>
				</div>
				<div class="grid-col-5 grid-col-md-12 d-flex flex-column justify-content-end">
					<label class="checkbox mye-3">
						<input type="checkbox" class="checkbox__field">
						<span class="checkbox__content">
							Отправляя заявку вы даёте согласие на обработку персональных данных
						</span>
					</label>
					<button type="submit" class="btn btn-lg btn-primary-outline form__submit">
						Записаться
					</button>
				</div>
			</div>
		</form>
	</div>
</section>